Postmarks/Postmarks/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PmConfig"
		   targetNamespace="PmConfig"
		   xmlns:mstns="PmConfig"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:complexType name="Range">
		<xs:attribute name="regex" type="xs:string" default=".*"/>
		<xs:attribute name="from" type="xs:unsignedInt"/>
		<xs:attribute name="to" type="xs:unsignedInt"/>
	</xs:complexType>
	
	<xs:element name="Postmarks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DbFile" type="xs:string"/>
				<xs:element name="range" type="mstns:Range" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
